@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}


header > nav {
    background-color: red;
    padding: 5px;
}

header a {
    color: white;
    margin: 30px;
    text-decoration: none;
    padding: 5px;
    font-size: 1em;
}

header a:hover {
    background: darkred;
    text-decoration: underline;
    color: whitesmoke;
}